@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Overpass", sans-serif;
}

body.dark-mode {
  background-color: black;
  color: white;
}

body.light-mode {
  background-color: white;
  color: black;
}

.home {
  background-repeat: repeat-x;
  background-position: bottom 1.5rem left 1.5rem;
  background-size: auto 5.5rem;
  padding-top: 2vh;
  min-height: 78vh;
}
